:root {
  border-radius: 13;
  background-color: 242424;
  color: white;
  font-family: sans-serif;
}

a:link {
  color: 3584e4;
}

a:visited {
  color: 9141ac;
}

a:hover {
  color: 78aeed;
}

a:active {
  color: 1a5fb4;
}

.card {
  color: 131313;
  padding: 3em;
}
