:root {
  background-color: 1c1c1c;
  color: white;
  font-family: sans-serif;
}

body {
  max-width: 80em;
  margin: 0em auto;
  padding-left: 1em;
  padding-right: 1em;
}

body.info {
  padding-top: 1em;
  max-width: 60em;
  margin: 0em auto;
}

a:link {
  color: 78aeed;
}

a:visited {
  color: 9141ac;
}

a:hover {
  color: 3584e4;
}

a:active {
  color: 1a5fb4;
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: 444444;
  border-radius: 13px;
  background-color: 242424;
  padding: 1em;
}

.border_h1 {
  border: solid 4px red;
}
